.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 90%;
  padding-bottom: 120px;
}

.projects-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  /* padding: 12px; */
  width: 90%;
}

@media (min-width: 930px) {
  .projects-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
