.section-header-text {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 30px 20px;
}

.section-header {
    width: 850px;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.line {
    height: 2px;
    background: #0d1512;
    flex: 1;
}

.line-darkBG {
    height: 2px;
    background: #1fd8a4;
    flex: 1;
}

.section-header-title {
    font-weight: 800;
    font-size: 3rem;
    -webkit-text-stroke: 0.5px #0d1512;
    -webkit-text-fill-color: transparent;
}

.section-header-title-darkBG {
    font-weight: 800;
    font-size: 3rem;
    -webkit-text-stroke: 0.5px #1fd8a4;
    -webkit-text-fill-color: transparent;
}